SAP_XRISK_Integration/SAP_XRISK_Integration/SAP_XRISK_Addon/Service References/SAP_XRISK_WS/SAP_XRISK.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SAP_XRISK" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19540/SAP_XRISK.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19540/SAP_XRISK.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISAP_XRISK_SaveConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveConnection" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_SaveConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_GetConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnection" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_GetConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_GetXmlandVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlandVersion" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_GetXmlandVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlandVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_addChangeTracks_InputMessage">
    <wsdl:part name="parameters" element="tns:addChangeTracks" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_addChangeTracks_OutputMessage">
    <wsdl:part name="parameters" element="tns:addChangeTracksResponse" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_getSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:getSchema" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_getSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_XRiskToSap_InputMessage">
    <wsdl:part name="parameters" element="tns:XRiskToSap" />
  </wsdl:message>
  <wsdl:message name="ISAP_XRISK_XRiskToSap_OutputMessage">
    <wsdl:part name="parameters" element="tns:XRiskToSapResponse" />
  </wsdl:message>
  <wsdl:portType name="ISAP_XRISK">
    <wsdl:operation name="SaveConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAP_XRISK/SaveConnection" message="tns:ISAP_XRISK_SaveConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAP_XRISK/SaveConnectionResponse" message="tns:ISAP_XRISK_SaveConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAP_XRISK/GetConnection" message="tns:ISAP_XRISK_GetConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAP_XRISK/GetConnectionResponse" message="tns:ISAP_XRISK_GetConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlandVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAP_XRISK/GetXmlandVersion" message="tns:ISAP_XRISK_GetXmlandVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAP_XRISK/GetXmlandVersionResponse" message="tns:ISAP_XRISK_GetXmlandVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addChangeTracks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAP_XRISK/addChangeTracks" message="tns:ISAP_XRISK_addChangeTracks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAP_XRISK/addChangeTracksResponse" message="tns:ISAP_XRISK_addChangeTracks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAP_XRISK/getSchema" message="tns:ISAP_XRISK_getSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAP_XRISK/getSchemaResponse" message="tns:ISAP_XRISK_getSchema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XRiskToSap">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAP_XRISK/XRiskToSap" message="tns:ISAP_XRISK_XRiskToSap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAP_XRISK/XRiskToSapResponse" message="tns:ISAP_XRISK_XRiskToSap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISAP_XRISK" type="tns:ISAP_XRISK">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveConnection">
      <soap:operation soapAction="http://tempuri.org/ISAP_XRISK/SaveConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <soap:operation soapAction="http://tempuri.org/ISAP_XRISK/GetConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlandVersion">
      <soap:operation soapAction="http://tempuri.org/ISAP_XRISK/GetXmlandVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addChangeTracks">
      <soap:operation soapAction="http://tempuri.org/ISAP_XRISK/addChangeTracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchema">
      <soap:operation soapAction="http://tempuri.org/ISAP_XRISK/getSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XRiskToSap">
      <soap:operation soapAction="http://tempuri.org/ISAP_XRISK/XRiskToSap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAP_XRISK">
    <wsdl:port name="BasicHttpBinding_ISAP_XRISK" binding="tns:BasicHttpBinding_ISAP_XRISK">
      <soap:address location="http://localhost:19540/SAP_XRISK.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>